.decoretor {
  background-color: #666;
  margin-bottom: 2px;
}

.center {  
  width: 100px;
  margin: 0 auto;
}

.container-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-grid {
  display: grid;
  place-items: center;
}